In [178]:
#Import dependencies
import pandas as pd
import os
import numpy as np

In [179]:
#Load CSV
file_to_load = ("SF 2018 CO Original.csv")
CO_2018 =pd.read_csv(file_to_load)
CO_2018.head()

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010009,1,0.9,ppm,10,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2018,AQS,60010009,1,1.2,ppm,14,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2018,AQS,60010009,1,1.4,ppm,16,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2018,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2018,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935

In [180]:
#Check Columns
CO_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Max 8-hour CO Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [181]:
#Check Null Values
CO_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [182]:
#Drop Columns
CO_2018 = CO_2018.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [183]:
#Check DataFrame
CO_2018.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,0.9,ppm,10,Oakland,18,75.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
1,01/02/2018,1.2,ppm,14,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
2,01/03/2018,1.4,ppm,16,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
3,01/04/2018,0.7,ppm,8,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
4,01/05/2018,0.6,ppm,7,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935

In [184]:
#Rename Column
CO_2018 = CO_2018.rename(columns={"Site Name": "Site_Name"})
CO_2018.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,0.9,ppm,10,Oakland,18,75.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
1,01/02/2018,1.2,ppm,14,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
2,01/03/2018,1.4,ppm,16,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
3,01/04/2018,0.7,ppm,8,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
4,01/05/2018,0.6,ppm,7,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935

In [185]:
#Check Count
CO_2018.count()

Date                                 3906
Daily Max 8-hour CO Concentration    3906
UNITS                                3906
DAILY_AQI_VALUE                      3906
Site_Name                            3906
DAILY_OBS_COUNT                      3906
PERCENT_COMPLETE                     3906
CBSA_NAME                            3906
COUNTY                               3906
SITE_LATITUDE                        3906
SITE_LONGITUDE                       3906
dtype: int64

In [186]:
#Filter for SF & Oakland
CO_2018 = CO_2018[(CO_2018.Site_Name == "Oakland") | (CO_2018.Site_Name == "San Francisco")]
CO_2018.head(10)

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,0.9,ppm,10,Oakland,18,75.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
1,01/02/2018,1.2,ppm,14,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
2,01/03/2018,1.4,ppm,16,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
3,01/04/2018,0.7,ppm,8,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
4,01/05/2018,0.6,ppm,7,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
5,01/06/2018,0.7,ppm,8,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
6,01/07/2018,0.7,ppm,8,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
7,01/08/2018,0.7,ppm,8,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
8,01/09/2018,0.5,ppm,6,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935
9,01/10/2018,0.7,ppm,8,Oakland,24,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.743065,-122.169935

In [187]:
#Check SF & Oakland Count 730 is total
CO_2018.count()

Date                                 728
Daily Max 8-hour CO Concentration    728
UNITS                                728
DAILY_AQI_VALUE                      728
Site_Name                            728
DAILY_OBS_COUNT                      728
PERCENT_COMPLETE                     728
CBSA_NAME                            728
COUNTY                               728
SITE_LATITUDE                        728
SITE_LONGITUDE                       728
dtype: int64

In [8]:
##Load CSV for NO2
file_to_load = ("SF 2018 NO2.csv")
NO2_2018 =pd.read_csv(file_to_load)
NO2_2018.head()

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,1,27.3,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,1,26.5,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,1,32.5,ppb,30,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,1,24.0,ppb,23,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,1,22.6,ppb,21,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [9]:
#Check Columns
NO2_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour NO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [10]:
#Check Null Values
NO2_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [11]:
#Drop Columns
NO2_2018 = NO2_2018.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [12]:
#Check DataFrame
NO2_2018.head()

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,27.3,ppb,25,23,96.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
1,01/02/2018,26.5,ppb,25,23,96.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
2,01/03/2018,32.5,ppb,30,23,96.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
3,01/04/2018,24.0,ppb,23,23,96.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
4,01/05/2018,22.6,ppb,21,23,96.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217

In [13]:
#Check Count
NO2_2018.count()

Date                                  4541
Daily Max 1-hour NO2 Concentration    4541
UNITS                                 4541
DAILY_AQI_VALUE                       4541
DAILY_OBS_COUNT                       4541
PERCENT_COMPLETE                      4541
CBSA_NAME                             4541
COUNTY                                4541
SITE_LATITUDE                         4541
SITE_LONGITUDE                        4541
dtype: int64

In [14]:
##Load CSV for Ozone
file_to_load = ("SF 2018 Ozone.csv")
Ozone_2018 =pd.read_csv(file_to_load)
Ozone_2018.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,1,0.027,ppm,25,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,1,0.033,ppm,31,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,1,0.004,ppm,4,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,1,0.026,ppm,24,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,1,0.024,ppm,22,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [15]:
#Check Columns
Ozone_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour Ozone Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [16]:
#Check Null Values
Ozone_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [17]:
#Drop Columns
Ozone_2018 = Ozone_2018.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [18]:
#Check DataFrame
Ozone_2018.head()

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,0.027,ppm,25,17,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
1,01/02/2018,0.033,ppm,31,17,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
2,01/03/2018,0.004,ppm,4,17,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
3,01/04/2018,0.026,ppm,24,17,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
4,01/05/2018,0.024,ppm,22,17,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217

In [19]:
#Check count
Ozone_2018.count()

Date                                    4266
Daily Max 8-hour Ozone Concentration    4266
UNITS                                   4266
DAILY_AQI_VALUE                         4266
DAILY_OBS_COUNT                         4266
PERCENT_COMPLETE                        4266
CBSA_NAME                               4266
COUNTY                                  4266
SITE_LATITUDE                           4266
SITE_LONGITUDE                          4266
dtype: int64

In [20]:
##Load CSV for Pb
file_to_load = ("SF 2018 Pb.csv")
Pb_2018 =pd.read_csv(file_to_load)
Pb_2018.head()

,Date,Source,Site ID,POC,Daily Mean Pb Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/02/2018,AQS,60750005,7,0.01390,ug/m3 SC,.,San Francisco,1,100.0,12128,Lead (TSP) STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,75,San Francisco,37.765946,-122.399044
1,01/14/2018,AQS,60750005,7,0.00225,ug/m3 SC,.,San Francisco,1,100.0,12128,Lead (TSP) STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,75,San Francisco,37.765946,-122.399044
2,01/26/2018,AQS,60750005,7,0.00321,ug/m3 SC,.,San Francisco,1,100.0,12128,Lead (TSP) STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,75,San Francisco,37.765946,-122.399044
3,02/07/2018,AQS,60750005,7,0.02030,ug/m3 SC,.,San Francisco,1,100.0,12128,Lead (TSP) STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,75,San Francisco,37.765946,-122.399044
4,02/19/2018,AQS,60750005,7,0.00344,ug/m3 SC,.,San Francisco,1,100.0,12128,Lead (TSP) STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,75,San Francisco,37.765946,-122.399044

In [21]:
#Check Columns
Pb_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean Pb Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [22]:
#Check Null Values
Pb_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [23]:
#Drop Columns
Pb_2018 = Pb_2018.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [24]:
#Check DataFrame
Pb_2018.head()

,Date,Daily Mean Pb Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/02/2018,0.01390,ug/m3 SC,.,1,100.0,"San Francisco-Oakland-Hayward, CA",San Francisco,37.765946,-122.399044
1,01/14/2018,0.00225,ug/m3 SC,.,1,100.0,"San Francisco-Oakland-Hayward, CA",San Francisco,37.765946,-122.399044
2,01/26/2018,0.00321,ug/m3 SC,.,1,100.0,"San Francisco-Oakland-Hayward, CA",San Francisco,37.765946,-122.399044
3,02/07/2018,0.02030,ug/m3 SC,.,1,100.0,"San Francisco-Oakland-Hayward, CA",San Francisco,37.765946,-122.399044
4,02/19/2018,0.00344,ug/m3 SC,.,1,100.0,"San Francisco-Oakland-Hayward, CA",San Francisco,37.765946,-122.399044

In [25]:
#Check count
Pb_2018.count()

Date                           30
Daily Mean Pb Concentration    30
UNITS                          30
DAILY_AQI_VALUE                30
DAILY_OBS_COUNT                30
PERCENT_COMPLETE               30
CBSA_NAME                      30
COUNTY                         30
SITE_LATITUDE                  30
SITE_LONGITUDE                 30
dtype: int64

In [26]:
##Load CSV for PM2.5
file_to_load = ("SF 2018 PM2.5.csv")
PM2_5_2018 =pd.read_csv(file_to_load)
PM2_5_2018.head()

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010007,3,28.1,ug/m3 LC,85,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2018,AQS,60010007,3,24.5,ug/m3 LC,77,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2018,AQS,60010007,3,39.0,ug/m3 LC,110,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2018,AQS,60010007,3,20.9,ug/m3 LC,70,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2018,AQS,60010007,3,5.5,ug/m3 LC,23,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [27]:
#Check Columns
PM2_5_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [28]:
#Check Null Values
PM2_5_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [29]:
#Drop Columns
PM2_5_2018 = PM2_5_2018.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [30]:
#Check DataFrame
PM2_5_2018.head()

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,28.1,ug/m3 LC,85,1,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
1,01/02/2018,24.5,ug/m3 LC,77,1,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
2,01/03/2018,39.0,ug/m3 LC,110,1,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
3,01/04/2018,20.9,ug/m3 LC,70,1,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217
4,01/05/2018,5.5,ug/m3 LC,23,1,100.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.687526,-121.784217

In [31]:
#Check count
PM2_5_2018.count()

Date                              3937
Daily Mean PM2.5 Concentration    3937
UNITS                             3937
DAILY_AQI_VALUE                   3937
DAILY_OBS_COUNT                   3937
PERCENT_COMPLETE                  3937
CBSA_NAME                         3937
COUNTY                            3937
SITE_LATITUDE                     3937
SITE_LONGITUDE                    3937
dtype: int64

In [32]:
##Load CSV for SO2
file_to_load = ("SF 2018 SO2.csv")
SO2_2018 =pd.read_csv(file_to_load)
SO2_2018.head()

,Date,Source,Site ID,POC,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,AQS,60010011,1,1.8,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
1,01/02/2018,AQS,60010011,1,2.9,ppb,3,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
2,01/03/2018,AQS,60010011,1,1.4,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
3,01/04/2018,AQS,60010011,1,1.0,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
4,01/05/2018,AQS,60010011,1,0.2,ppb,0,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347

In [33]:
#Check Columns
SO2_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour SO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [34]:
#Check Null Values
SO2_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [35]:
#Drop Columns
SO2_2018 = SO2_2018.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [36]:
#Check DataFrame
SO2_2018.head()

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2018,1.8,ppb,1,22,92.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.814781,-122.282347
1,01/02/2018,2.9,ppb,3,22,92.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.814781,-122.282347
2,01/03/2018,1.4,ppb,1,22,92.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.814781,-122.282347
3,01/04/2018,1.0,ppb,1,22,92.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.814781,-122.282347
4,01/05/2018,0.2,ppb,0,22,92.0,"San Francisco-Oakland-Hayward, CA",Alameda,37.814781,-122.282347

In [37]:
#Check Count
SO2_2018.count()

Date                                  2461
Daily Max 1-hour SO2 Concentration    2461
UNITS                                 2461
DAILY_AQI_VALUE                       2461
DAILY_OBS_COUNT                       2461
PERCENT_COMPLETE                      2461
CBSA_NAME                             2461
COUNTY                                2461
SITE_LATITUDE                         2461
SITE_LONGITUDE                        2461
dtype: int64

In [38]:
##Load CSV for PM2.5
file_to_load = ("SF 2018 PM10.csv")
PM10_2018 =pd.read_csv(file_to_load)
PM10_2018.head()

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/02/2018,AQS,60130002,1,24,ug/m3 SC,22,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
1,01/14/2018,AQS,60130002,1,24,ug/m3 SC,22,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
2,01/26/2018,AQS,60130002,1,9,ug/m3 SC,8,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
3,02/07/2018,AQS,60130002,1,25,ug/m3 SC,23,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
4,02/19/2018,AQS,60130002,1,5,ug/m3 SC,5,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154

In [39]:
#Check Columns
PM10_2018.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM10 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [40]:
#Check Null Values
PM10_2018.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [41]:
#Drop Columns
PM10_2018 = PM10_2018.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [42]:
#Check DataFrame
PM10_2018.head()

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,DAILY_OBS_COUNT,PERCENT_COMPLETE,CBSA_NAME,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/02/2018,24,ug/m3 SC,22,1,100.0,"San Francisco-Oakland-Hayward, CA",Contra Costa,37.936013,-122.026154
1,01/14/2018,24,ug/m3 SC,22,1,100.0,"San Francisco-Oakland-Hayward, CA",Contra Costa,37.936013,-122.026154
2,01/26/2018,9,ug/m3 SC,8,1,100.0,"San Francisco-Oakland-Hayward, CA",Contra Costa,37.936013,-122.026154
3,02/07/2018,25,ug/m3 SC,23,1,100.0,"San Francisco-Oakland-Hayward, CA",Contra Costa,37.936013,-122.026154
4,02/19/2018,5,ug/m3 SC,5,1,100.0,"San Francisco-Oakland-Hayward, CA",Contra Costa,37.936013,-122.026154

In [43]:
#Check Count
PM10_2018.count()

Date                             257
Daily Mean PM10 Concentration    257
UNITS                            257
DAILY_AQI_VALUE                  257
DAILY_OBS_COUNT                  257
PERCENT_COMPLETE                 257
CBSA_NAME                        257
COUNTY                           257
SITE_LATITUDE                    257
SITE_LONGITUDE                   257
dtype: int64