In [118]:
#Import dependencies
import pandas as pd
import os
import numpy as np

In [119]:
#Load CSV
file_to_load = ("SF 2019 CO.csv")
CO_2019 =pd.read_csv(file_to_load)
CO_2019.head()

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010009,1,0.4,ppm,5,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2019,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2019,AQS,60010009,1,0.6,ppm,7,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935

In [120]:
#Check Columns
CO_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Max 8-hour CO Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [121]:
#Check Null Values
CO_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [122]:
#Drop Columns
CO_2019 = CO_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [123]:
#Check DataFrame
CO_2019.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2019,0.4,ppm,5,Oakland,Alameda
1,01/02/2019,0.6,ppm,7,Oakland,Alameda
2,01/03/2019,0.6,ppm,7,Oakland,Alameda
3,01/04/2019,0.7,ppm,8,Oakland,Alameda
4,01/05/2019,0.6,ppm,7,Oakland,Alameda

In [124]:
#Rename Site Name Column
CO_2019 = CO_2019.rename(columns={"Site Name": "Site_Name"})
CO_2019.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2019,0.4,ppm,5,Oakland,Alameda
1,01/02/2019,0.6,ppm,7,Oakland,Alameda
2,01/03/2019,0.6,ppm,7,Oakland,Alameda
3,01/04/2019,0.7,ppm,8,Oakland,Alameda
4,01/05/2019,0.6,ppm,7,Oakland,Alameda

In [125]:
#Filter for SF & Oakland West Count 730 is total
CO_2019 = CO_2019[(CO_2019.Site_Name == "Oakland West") | (CO_2019.Site_Name == "San Francisco")]
CO_2019.head(10)

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
365,01/01/2019,1.0,ppm,11,Oakland West,Alameda
366,01/02/2019,1.3,ppm,15,Oakland West,Alameda
367,01/03/2019,1.2,ppm,14,Oakland West,Alameda
368,01/04/2019,1.5,ppm,17,Oakland West,Alameda
369,01/05/2019,1.0,ppm,11,Oakland West,Alameda
370,01/06/2019,0.4,ppm,5,Oakland West,Alameda
371,01/07/2019,0.6,ppm,7,Oakland West,Alameda
372,01/08/2019,0.6,ppm,7,Oakland West,Alameda
373,01/09/2019,0.5,ppm,6,Oakland West,Alameda
374,01/10/2019,1.3,ppm,15,Oakland West,Alameda

In [126]:
#Check Count for SF & Oakland West
CO_2019.count()

Date                                 727
Daily Max 8-hour CO Concentration    727
UNITS                                727
DAILY_AQI_VALUE                      727
Site_Name                            727
COUNTY                               727
dtype: int64

In [127]:
#To CSV
CO_2019.to_csv(r'CO_2019_clean.csv', header= True, index=False)

In [128]:
##Load CSV for NO2
file_to_load = ("SF 2019 NO2.csv")
NO2_2019 =pd.read_csv(file_to_load)
NO2_2019.head()

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010007,1,25.8,ppb,24,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2019,AQS,60010007,1,34.7,ppb,32,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2019,AQS,60010007,1,31.7,ppb,29,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2019,AQS,60010007,1,37.2,ppb,35,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2019,AQS,60010007,1,26.8,ppb,25,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [129]:
#Check Columns
NO2_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour NO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [130]:
#Check Null Values
NO2_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [131]:
#Drop Columns
NO2_2019 = NO2_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [132]:
#Check DataFrame
NO2_2019.head()

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2019,25.8,ppb,24,Livermore,Alameda
1,01/02/2019,34.7,ppb,32,Livermore,Alameda
2,01/03/2019,31.7,ppb,29,Livermore,Alameda
3,01/04/2019,37.2,ppb,35,Livermore,Alameda
4,01/05/2019,26.8,ppb,25,Livermore,Alameda

In [133]:
#Rename Site Name Column
NO2_2019 = NO2_2019.rename(columns={"Site Name": "Site_Name"})
NO2_2019.head()

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2019,25.8,ppb,24,Livermore,Alameda
1,01/02/2019,34.7,ppb,32,Livermore,Alameda
2,01/03/2019,31.7,ppb,29,Livermore,Alameda
3,01/04/2019,37.2,ppb,35,Livermore,Alameda
4,01/05/2019,26.8,ppb,25,Livermore,Alameda

In [134]:
#Filter for SF & Oakland West Count
NO2_2019 = NO2_2019[(NO2_2019.Site_Name == "Oakland West") | (NO2_2019.Site_Name == "San Francisco")]
NO2_2019.head(10)

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
723,01/01/2019,34.8,ppb,32,Oakland West,Alameda
724,01/02/2019,37.6,ppb,35,Oakland West,Alameda
725,01/03/2019,38.0,ppb,36,Oakland West,Alameda
726,01/04/2019,39.1,ppb,37,Oakland West,Alameda
727,01/05/2019,16.1,ppb,15,Oakland West,Alameda
728,01/06/2019,13.2,ppb,12,Oakland West,Alameda
729,01/07/2019,35.1,ppb,33,Oakland West,Alameda
730,01/08/2019,30.2,ppb,28,Oakland West,Alameda
731,01/09/2019,29.8,ppb,27,Oakland West,Alameda
732,01/10/2019,32.0,ppb,30,Oakland West,Alameda

In [135]:
#Check Count SF & Oakland West
NO2_2019.count()

Date                                  710
Daily Max 1-hour NO2 Concentration    710
UNITS                                 710
DAILY_AQI_VALUE                       710
Site_Name                             710
COUNTY                                710
dtype: int64

In [138]:
# To CSV
NO2_2019.to_csv(r'NO2_2019_clean.csv', header= True, index=False)

In [142]:
##Load CSV for Ozone
file_to_load = ("SF 2019 Ozone.csv")
Ozone_2019 =pd.read_csv(file_to_load)
Ozone_2019.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010007,1,0.032,ppm,30,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2019,AQS,60010007,1,0.021,ppm,19,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2019,AQS,60010007,1,0.026,ppm,24,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2019,AQS,60010007,1,0.021,ppm,19,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2019,AQS,60010007,1,0.036,ppm,33,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [143]:
#Check Columns
Ozone_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour Ozone Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [144]:
#Check Null Values
Ozone_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [145]:
#Drop Columns
Ozone_2019 = Ozone_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [146]:
#Check DataFrame
Ozone_2019.head()

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2019,0.032,ppm,30,Livermore,Alameda
1,01/02/2019,0.021,ppm,19,Livermore,Alameda
2,01/03/2019,0.026,ppm,24,Livermore,Alameda
3,01/04/2019,0.021,ppm,19,Livermore,Alameda
4,01/05/2019,0.036,ppm,33,Livermore,Alameda

In [147]:
#Rename Site Name Column
Ozone_2019 = Ozone_2019.rename(columns={"Site Name": "Site_Name"})
Ozone_2019.head()

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2019,0.032,ppm,30,Livermore,Alameda
1,01/02/2019,0.021,ppm,19,Livermore,Alameda
2,01/03/2019,0.026,ppm,24,Livermore,Alameda
3,01/04/2019,0.021,ppm,19,Livermore,Alameda
4,01/05/2019,0.036,ppm,33,Livermore,Alameda

In [148]:
#Filter for SF & Oakland Count 730 is total
Ozone_2019 = Ozone_2019[(Ozone_2019.Site_Name == "Oakland West") | (Ozone_2019.Site_Name == "San Francisco")]
Ozone_2019.head(10)

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
719,01/01/2019,0.032,ppm,30,Oakland West,Alameda
720,01/02/2019,0.017,ppm,16,Oakland West,Alameda
721,01/03/2019,0.020,ppm,19,Oakland West,Alameda
722,01/04/2019,0.028,ppm,26,Oakland West,Alameda
723,01/05/2019,0.035,ppm,32,Oakland West,Alameda
724,01/06/2019,0.032,ppm,30,Oakland West,Alameda
725,01/07/2019,0.018,ppm,17,Oakland West,Alameda
726,01/08/2019,0.032,ppm,30,Oakland West,Alameda
727,01/09/2019,0.026,ppm,24,Oakland West,Alameda
728,01/10/2019,0.006,ppm,6,Oakland West,Alameda

In [149]:
#Check count for SF & Oakland West
Ozone_2019.count()

Date                                    710
Daily Max 8-hour Ozone Concentration    710
UNITS                                   710
DAILY_AQI_VALUE                         710
Site_Name                               710
COUNTY                                  710
dtype: int64

In [150]:
# To CSV
Ozone_2019.to_csv(r'Ozone_2019_clean.csv', header= True, index=False)

In [151]:
##Load CSV for Pb
#file_to_load = ("SF 2019 Pb.csv")
#Pb_2019 =pd.read_csv(file_to_load)
#Pb_2019.head()

In [152]:
#Check Columns
#Pb_2019.columns

In [153]:
#Check Null Values
#Pb_2019.columns.isnull()

In [154]:
#Drop Columns
#Pb_2019 = Pb_2019.drop(columns=['Date','Source','Site ID','POC' ,'UNITS','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'COUNTY'], axis=1)

In [155]:
#Check DataFrame
#Pb_2019.head()

In [156]:
#Check count
#Pb_2019.count()

In [160]:
##Load CSV for PM2.5
file_to_load = ("SF 2019 PM2.5.csv")
PM2_5_2019 =pd.read_csv(file_to_load)
PM2_5_2019.head()

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010007,3,5.7,ug/m3 LC,24,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2019,AQS,60010007,3,11.9,ug/m3 LC,50,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2019,AQS,60010007,3,20.1,ug/m3 LC,68,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2019,AQS,60010007,3,28.8,ug/m3 LC,86,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2019,AQS,60010007,3,11.2,ug/m3 LC,47,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [161]:
#Check Columns
PM2_5_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [162]:
#Check Null Values
PM2_5_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [163]:
#Drop Columns
PM2_5_2019 = PM2_5_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [164]:
#Check DataFrame
PM2_5_2019.head()

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2019,5.7,ug/m3 LC,24,Livermore,Alameda
1,01/02/2019,11.9,ug/m3 LC,50,Livermore,Alameda
2,01/03/2019,20.1,ug/m3 LC,68,Livermore,Alameda
3,01/04/2019,28.8,ug/m3 LC,86,Livermore,Alameda
4,01/05/2019,11.2,ug/m3 LC,47,Livermore,Alameda

In [165]:
#Rename Site Name Column
PM2_5_2019 = PM2_5_2019.rename(columns={"Site Name": "Site_Name"})
PM2_5_2019.head()

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2019,5.7,ug/m3 LC,24,Livermore,Alameda
1,01/02/2019,11.9,ug/m3 LC,50,Livermore,Alameda
2,01/03/2019,20.1,ug/m3 LC,68,Livermore,Alameda
3,01/04/2019,28.8,ug/m3 LC,86,Livermore,Alameda
4,01/05/2019,11.2,ug/m3 LC,47,Livermore,Alameda

In [166]:
#Filter for SF & Oakland West
PM2_5_2019 = PM2_5_2019[(PM2_5_2019.Site_Name == "Oakland West") | (PM2_5_2019.Site_Name == "San Francisco")]
PM2_5_2019.head(10)

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
715,01/01/2019,6.2,ug/m3 LC,26,Oakland West,Alameda
716,01/02/2019,9.7,ug/m3 LC,40,Oakland West,Alameda
717,01/03/2019,19.6,ug/m3 LC,67,Oakland West,Alameda
718,01/04/2019,29.3,ug/m3 LC,87,Oakland West,Alameda
719,01/05/2019,3.5,ug/m3 LC,15,Oakland West,Alameda
720,01/06/2019,4.4,ug/m3 LC,18,Oakland West,Alameda
721,01/07/2019,5.7,ug/m3 LC,24,Oakland West,Alameda
722,01/08/2019,6.1,ug/m3 LC,25,Oakland West,Alameda
723,01/09/2019,5.6,ug/m3 LC,23,Oakland West,Alameda
724,01/10/2019,13.8,ug/m3 LC,55,Oakland West,Alameda

In [167]:
#Check count SF & Oakland West
PM2_5_2019.count()

Date                              716
Daily Mean PM2.5 Concentration    716
UNITS                             716
DAILY_AQI_VALUE                   716
Site_Name                         716
COUNTY                            716
dtype: int64

In [168]:
# To CSV
PM2_5_2019.to_csv(r'PM2_5_2019_clean.csv', header= True, index=False)

In [169]:
##Load CSV for SO2
file_to_load = ("SF 2019 SO2.csv")
SO2_2019 =pd.read_csv(file_to_load)
SO2_2019.head()

,Date,Source,Site ID,POC,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2019,AQS,60010011,1,1.0,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
1,01/02/2019,AQS,60010011,1,4.0,ppb,6,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
2,01/03/2019,AQS,60010011,1,1.4,ppb,1,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
3,01/04/2019,AQS,60010011,1,2.4,ppb,3,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347
4,01/05/2019,AQS,60010011,1,0.5,ppb,0,Oakland West,22,92.0,42401,Sulfur dioxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.814781,-122.282347

In [170]:
#Check Columns
SO2_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour SO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [171]:
#Check Null Values
SO2_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [172]:
#Drop Columns
SO2_2019 = SO2_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [173]:
#Check DataFrame
SO2_2019.head()

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/01/2019,1.0,ppb,1,Oakland West,Alameda
1,01/02/2019,4.0,ppb,6,Oakland West,Alameda
2,01/03/2019,1.4,ppb,1,Oakland West,Alameda
3,01/04/2019,2.4,ppb,3,Oakland West,Alameda
4,01/05/2019,0.5,ppb,0,Oakland West,Alameda

In [174]:
#Rename Site Name Column
SO2_2019 = SO2_2019.rename(columns={"Site Name": "Site_Name"})
SO2_2019.head()

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2019,1.0,ppb,1,Oakland West,Alameda
1,01/02/2019,4.0,ppb,6,Oakland West,Alameda
2,01/03/2019,1.4,ppb,1,Oakland West,Alameda
3,01/04/2019,2.4,ppb,3,Oakland West,Alameda
4,01/05/2019,0.5,ppb,0,Oakland West,Alameda

In [175]:
#Filter for SF & Oakland West
SO2_2019 = SO2_2019[(SO2_2019.Site_Name == "Oakland West") | (SO2_2019.Site_Name == "San Francisco")]
SO2_2019.head(10)

,Date,Daily Max 1-hour SO2 Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/01/2019,1.0,ppb,1,Oakland West,Alameda
1,01/02/2019,4.0,ppb,6,Oakland West,Alameda
2,01/03/2019,1.4,ppb,1,Oakland West,Alameda
3,01/04/2019,2.4,ppb,3,Oakland West,Alameda
4,01/05/2019,0.5,ppb,0,Oakland West,Alameda
5,01/06/2019,0.7,ppb,0,Oakland West,Alameda
6,01/07/2019,0.5,ppb,0,Oakland West,Alameda
7,01/08/2019,0.8,ppb,0,Oakland West,Alameda
8,01/09/2019,0.1,ppb,0,Oakland West,Alameda
9,01/10/2019,1.5,ppb,1,Oakland West,Alameda

In [176]:
#Check Count SF & Oakland West
SO2_2019.count()

Date                                  350
Daily Max 1-hour SO2 Concentration    350
UNITS                                 350
DAILY_AQI_VALUE                       350
Site_Name                             350
COUNTY                                350
dtype: int64

In [185]:
# To CSV
SO2_2019.to_csv(r'SO2_2019_clean.csv', header= True, index=False)

In [177]:
##Load CSV for PM10
file_to_load = ("SF 2019 PM10.csv")
PM10_2019 =pd.read_csv(file_to_load)
PM10_2019.head()

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/09/2019,AQS,60130002,1,6,ug/m3 SC,6,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
1,01/21/2019,AQS,60130002,1,6,ug/m3 SC,6,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
2,02/02/2019,AQS,60130002,1,2,ug/m3 SC,2,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
3,02/14/2019,AQS,60130002,1,4,ug/m3 SC,4,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
4,02/26/2019,AQS,60130002,1,4,ug/m3 SC,4,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154

In [178]:
#Check Columns
PM10_2019.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM10 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [179]:
#Check Null Values
PM10_2019.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [180]:
#Drop Columns
PM10_2019 = PM10_2019.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE'], axis=1)

In [181]:
#Check DataFrame
PM10_2019.head()

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,COUNTY
0,01/09/2019,6,ug/m3 SC,6,Concord,Contra Costa
1,01/21/2019,6,ug/m3 SC,6,Concord,Contra Costa
2,02/02/2019,2,ug/m3 SC,2,Concord,Contra Costa
3,02/14/2019,4,ug/m3 SC,4,Concord,Contra Costa
4,02/26/2019,4,ug/m3 SC,4,Concord,Contra Costa

In [182]:
#Rename Site Name Column
PM10_2019 = PM10_2019.rename(columns={"Site Name": "Site_Name"})
PM10_2019.head()

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
0,01/09/2019,6,ug/m3 SC,6,Concord,Contra Costa
1,01/21/2019,6,ug/m3 SC,6,Concord,Contra Costa
2,02/02/2019,2,ug/m3 SC,2,Concord,Contra Costa
3,02/14/2019,4,ug/m3 SC,4,Concord,Contra Costa
4,02/26/2019,4,ug/m3 SC,4,Concord,Contra Costa

In [183]:
#Filter for SF & Oakland West
PM10_2019 = PM10_2019[(PM10_2019.Site_Name == "Oakland West") | (PM10_2019.Site_Name == "San Francisco")]
PM10_2019.head(10)

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site_Name,COUNTY
237,01/09/2019,13,ug/m3 SC,12,San Francisco,San Francisco
238,01/21/2019,13,ug/m3 SC,12,San Francisco,San Francisco
239,02/02/2019,9,ug/m3 SC,8,San Francisco,San Francisco
240,02/14/2019,9,ug/m3 SC,8,San Francisco,San Francisco
241,02/26/2019,6,ug/m3 SC,6,San Francisco,San Francisco
242,03/10/2019,5,ug/m3 SC,5,San Francisco,San Francisco
243,03/22/2019,9,ug/m3 SC,8,San Francisco,San Francisco
244,04/03/2019,5,ug/m3 SC,5,San Francisco,San Francisco
245,04/15/2019,15,ug/m3 SC,14,San Francisco,San Francisco
246,04/27/2019,29,ug/m3 SC,27,San Francisco,San Francisco

In [184]:
#Check Count for SF & Oakland West
PM10_2019.count()

Date                             30
Daily Mean PM10 Concentration    30
UNITS                            30
DAILY_AQI_VALUE                  30
Site_Name                        30
COUNTY                           30
dtype: int64

In [186]:
# To CSV
PM10_2019.to_csv(r'PM10_2019_clean.csv', header= True, index=False)