In [1]:
#Importing packages
import pandas as pd
import os
import numpy as np
import glob

In [2]:
#Path = "/home/user/data/"
path = "/Users/selenajdeleon/Desktop/Analysis_Projects/Final_Project/ML---Final-Project---Pollution-Future-Impact-Analysis-/clean_data"

#Selecting all CO CSV files
all_files = glob.glob(os.path.join(path, "20**_co.csv"))

#Sorting files by 'Date' column (asc)
all_files.sort()

#Merging 2015-2020 NO2 files
df_from_each_file = [pd.read_csv(f, sep=',') for f in all_files]
df_from_each_file
df_merged   = pd.concat(df_from_each_file)

#Creating CSV file for merged CO files (2015-2020)
df_merged.to_csv("co.csv", header = True, index = False)

In [5]:
df_merged.head()

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2015,0.6,ppm,7,San Francisco
1,01/02/2015,0.7,ppm,8,San Francisco
2,01/03/2015,0.9,ppm,10,San Francisco
3,01/04/2015,0.9,ppm,10,San Francisco
4,01/05/2015,0.8,ppm,9,San Francisco

In [8]:
#Renaming DAILY_AQI_VALUE column to include name of pollutant for ML model
df_merged = df_merged.rename(columns={"DAILY_AQI_VALUE": "AQI_CO"})
df_merged.head()

         Date  Daily_Max_8-hr_CO_Concentration UNITS  AQI_CO      Site_Name
0  01/01/2015                              0.6   ppm       7  San Francisco
1  01/02/2015                              0.7   ppm       8  San Francisco
2  01/03/2015                              0.9   ppm      10  San Francisco
3  01/04/2015                              0.9   ppm      10  San Francisco
4  01/05/2015                              0.8   ppm       9  San Francisco

In [9]:
#Overwriting co.csv to reflect changes for ML model
df_merged.to_csv("co.csv", header = True, index = False)