In [1]:
#Import dependencies
import pandas as pd
import os
import numpy as np

In [2]:
#Load CSV
file_to_load = ("SF 2020 CO.csv")
CO_2020 =pd.read_csv(file_to_load)
CO_2020.head()

,Date,Source,Site ID,POC,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2020,AQS,60010009,1,0.7,ppm,8,Oakland,18,75.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
1,01/02/2020,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
2,01/03/2020,AQS,60010009,1,0.9,ppm,10,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
3,01/04/2020,AQS,60010009,1,0.8,ppm,9,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935
4,01/05/2020,AQS,60010009,1,0.7,ppm,8,Oakland,24,100.0,42101,Carbon monoxide,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.743065,-122.169935

In [3]:
#Check Columns
CO_2020.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Max 8-hour CO Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [4]:
#Check Null Values
CO_2020.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [5]:
#Drop Columns
CO_2020= CO_2020.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [6]:
#Check DataFrame
CO_2020.head()

,Date,Daily Max 8-hour CO Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2020,0.7,ppm,8,Oakland
1,01/02/2020,0.7,ppm,8,Oakland
2,01/03/2020,0.9,ppm,10,Oakland
3,01/04/2020,0.8,ppm,9,Oakland
4,01/05/2020,0.7,ppm,8,Oakland

In [7]:
#Rename Site Name & Daily Concentration Columns
CO_2020 = CO_2020.rename(columns={"Site Name": "Site_Name"})
CO_2020 = CO_2020.rename(columns={"Daily Max 8-hour CO Concentration":"Daily_Max_8-hr_CO_Concentration"})
CO_2020.head()

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2020,0.7,ppm,8,Oakland
1,01/02/2020,0.7,ppm,8,Oakland
2,01/03/2020,0.9,ppm,10,Oakland
3,01/04/2020,0.8,ppm,9,Oakland
4,01/05/2020,0.7,ppm,8,Oakland

In [8]:
#Filter for SF
#CO_2020 = CO_2020[(CO_2020.Site_Name == "Oakland West") | (CO_2020.Site_Name == "San Francisco")]
CO_2020 = CO_2020[(CO_2020.Site_Name == "San Francisco")]
CO_2020.head(10)

,Date,Daily_Max_8-hr_CO_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3227,01/01/2020,0.6,ppm,7,San Francisco
3228,01/02/2020,0.7,ppm,8,San Francisco
3229,01/03/2020,0.6,ppm,7,San Francisco
3230,01/04/2020,0.5,ppm,6,San Francisco
3231,01/05/2020,0.4,ppm,5,San Francisco
3232,01/06/2020,0.6,ppm,7,San Francisco
3233,01/07/2020,0.6,ppm,7,San Francisco
3234,01/08/2020,0.3,ppm,3,San Francisco
3235,01/09/2020,0.5,ppm,6,San Francisco
3236,01/10/2020,0.6,ppm,7,San Francisco

In [9]:
#Check Count//LEAP YEAR
CO_2020.count()

Date                               366
Daily_Max_8-hr_CO_Concentration    366
UNITS                              366
DAILY_AQI_VALUE                    366
Site_Name                          366
dtype: int64

In [10]:
#To CSV
CO_2020.to_csv(r'2020_co.csv', header= True, index=False)

In [11]:
##Load CSV for NO2
file_to_load = ("SF 2020 NO2.csv")
NO2_2020 =pd.read_csv(file_to_load)
NO2_2020.head()

,Date,Source,Site ID,POC,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2020,AQS,60010007,1,18.5,ppb,17,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2020,AQS,60010007,1,22.7,ppb,21,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2020,AQS,60010007,1,23.6,ppb,22,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2020,AQS,60010007,1,21.2,ppb,20,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2020,AQS,60010007,1,23.0,ppb,22,Livermore,23,96.0,42602,Nitrogen dioxide (NO2),41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [12]:
#Check Columns
NO2_2020.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 1-hour NO2 Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [13]:
#Check Null Values
NO2_2020.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [14]:
#Drop Columns
NO2_2020 = NO2_2020.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [15]:
#Check DataFrame
NO2_2020.head()

,Date,Daily Max 1-hour NO2 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2020,18.5,ppb,17,Livermore
1,01/02/2020,22.7,ppb,21,Livermore
2,01/03/2020,23.6,ppb,22,Livermore
3,01/04/2020,21.2,ppb,20,Livermore
4,01/05/2020,23.0,ppb,22,Livermore

In [16]:
#Rename Site Name & Daily Concentration Columns
NO2_2020 = NO2_2020.rename(columns={"Site Name": "Site_Name"})
NO2_2020 = NO2_2020.rename(columns={"Daily Max 1-hour NO2 Concentration":"Daily_Max_1-hr_NO2_Concentration"})
NO2_2020.head()

,Date,Daily_Max_1-hr_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2020,18.5,ppb,17,Livermore
1,01/02/2020,22.7,ppb,21,Livermore
2,01/03/2020,23.6,ppb,22,Livermore
3,01/04/2020,21.2,ppb,20,Livermore
4,01/05/2020,23.0,ppb,22,Livermore

In [17]:
#Filter for SF
#NO2_2020 = NO2_2020[(NO2_2020.Site_Name == "Oakland West") | (NO2_2020.Site_Name == "San Francisco")]
NO2_2020 = NO2_2020[(NO2_2020.Site_Name == "San Francisco")]
NO2_2020.head(10)

,Date,Daily_Max_1-hr_NO2_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3880,01/01/2020,23.6,ppb,22,San Francisco
3881,01/02/2020,35.5,ppb,33,San Francisco
3882,01/03/2020,36.6,ppb,34,San Francisco
3883,01/04/2020,24.6,ppb,23,San Francisco
3884,01/05/2020,23.3,ppb,22,San Francisco
3885,01/06/2020,35.3,ppb,33,San Francisco
3886,01/07/2020,26.9,ppb,25,San Francisco
3887,01/08/2020,34.9,ppb,32,San Francisco
3888,01/09/2020,29.8,ppb,27,San Francisco
3889,01/10/2020,27.9,ppb,25,San Francisco

In [18]:
#Check Count for SF//LEAP YEAR
NO2_2020.count()

Date                                364
Daily_Max_1-hr_NO2_Concentration    364
UNITS                               364
DAILY_AQI_VALUE                     364
Site_Name                           364
dtype: int64

In [19]:
# To CSV
NO2_2020.to_csv(r'2020_no2.csv', header= True, index=False)

In [22]:
##Load CSV for Ozone
file_to_load = ("SF 2020 Ozone.csv")
Ozone_2020 =pd.read_csv(file_to_load)
Ozone_2020.head()

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2020,AQS,60010007,1,0.025,ppm,23,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2020,AQS,60010007,1,0.017,ppm,16,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2020,AQS,60010007,1,0.013,ppm,12,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2020,AQS,60010007,1,0.028,ppm,26,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2020,AQS,60010007,1,0.031,ppm,29,Livermore,17,100.0,44201,Ozone,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [23]:
#Check Columns
Ozone_2020.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour Ozone Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [24]:
#Check Null Values
Ozone_2020.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [25]:
#Drop Columns
Ozone_2020 = Ozone_2020.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [26]:
#Check DataFrame
Ozone_2020.head()

,Date,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2020,0.025,ppm,23,Livermore
1,01/02/2020,0.017,ppm,16,Livermore
2,01/03/2020,0.013,ppm,12,Livermore
3,01/04/2020,0.028,ppm,26,Livermore
4,01/05/2020,0.031,ppm,29,Livermore

In [27]:
#Rename Site Name & Daily Concentraion Columns
Ozone_2020 = Ozone_2020.rename(columns={"Site Name": "Site_Name"})
Ozone_2020 = Ozone_2020.rename(columns={"Daily Max 8-hour Ozone Concentration": "Daily_Max_8-hr_Ozone_Concentration"})
Ozone_2020.head()

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2020,0.025,ppm,23,Livermore
1,01/02/2020,0.017,ppm,16,Livermore
2,01/03/2020,0.013,ppm,12,Livermore
3,01/04/2020,0.028,ppm,26,Livermore
4,01/05/2020,0.031,ppm,29,Livermore

In [28]:
#Filter for SF
#Ozone_2020 = Ozone_2020[(Ozone_2020.Site_Name == "Oakland West") | (Ozone_2020.Site_Name == "San Francisco")]
Ozone_2020 = Ozone_2020[(Ozone_2020.Site_Name == "San Francisco")]
Ozone_2020.head(10)

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3623,01/01/2020,0.029,ppm,27,San Francisco
3624,01/02/2020,0.015,ppm,14,San Francisco
3625,01/03/2020,0.023,ppm,21,San Francisco
3626,01/04/2020,0.030,ppm,28,San Francisco
3627,01/05/2020,0.035,ppm,32,San Francisco
3628,01/06/2020,0.020,ppm,19,San Francisco
3629,01/07/2020,0.037,ppm,34,San Francisco
3630,01/08/2020,0.036,ppm,33,San Francisco
3631,01/09/2020,0.027,ppm,25,San Francisco
3632,01/10/2020,0.037,ppm,34,San Francisco

In [29]:
#Check count for SF// LEAP YEAR
Ozone_2020.count()

Date                                  365
Daily_Max_8-hr_Ozone_Concentration    365
UNITS                                 365
DAILY_AQI_VALUE                       365
Site_Name                             365
dtype: int64

In [30]:
#To CSV
Ozone_2020.to_csv(r'2020_oz.csv', header= True, index=False)

In [29]:
##Load CSV for Pb
#file_to_load = ("SF 2020 Pb.csv")
#Pb_2020 =pd.read_csv(file_to_load)
#Pb_2020.head()

In [30]:
#Check Columns
#Pb_2020.columns

In [31]:
#Check Null Values
#Pb_2020.columns.isnull()

In [32]:
#Drop Columns
#Pb_2020 = Pb_2020.drop(columns=['Source','Site ID','POC','Site Name','AQS_PARAMETER_CODE','AQS_PARAMETER_DESC', 'CBSA_CODE','STATE_CODE','STATE','COUNTY_CODE'], axis=1)

In [33]:
#Check DataFrame
#Pb_2020.head()

In [34]:
#Check count
#Pb_2020.count()

In [35]:
##Load CSV for PM2.5
file_to_load = ("SF 2020 PM2.5.csv")
PM2_5_2020 =pd.read_csv(file_to_load)
PM2_5_2020.head()

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2020,AQS,60010007,3,8.6,ug/m3 LC,36,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
1,01/02/2020,AQS,60010007,3,4.5,ug/m3 LC,19,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
2,01/03/2020,AQS,60010007,3,14.2,ug/m3 LC,55,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
3,01/04/2020,AQS,60010007,3,10.9,ug/m3 LC,45,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217
4,01/05/2020,AQS,60010007,3,7.8,ug/m3 LC,33,Livermore,1,100.0,88101,PM2.5 - Local Conditions,41860,"San Francisco-Oakland-Hayward, CA",6,California,1,Alameda,37.687526,-121.784217

In [36]:
#Check Columns
PM2_5_2020.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM2.5 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [37]:
#Check Null Values
PM2_5_2020.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [38]:
#Drop Columns
PM2_5_2020 = PM2_5_2020.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [39]:
#Check DataFrame
PM2_5_2020.head()

,Date,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/01/2020,8.6,ug/m3 LC,36,Livermore
1,01/02/2020,4.5,ug/m3 LC,19,Livermore
2,01/03/2020,14.2,ug/m3 LC,55,Livermore
3,01/04/2020,10.9,ug/m3 LC,45,Livermore
4,01/05/2020,7.8,ug/m3 LC,33,Livermore

In [40]:
#Rename Site Name & Daily Concentration Columns
PM2_5_2020 = PM2_5_2020.rename(columns={"Site Name": "Site_Name"})
PM2_5_2020 = PM2_5_2020.rename(columns={"Daily Mean PM2.5 Concentration": "Daily_Mean_PM2.5_Concentration"})
PM2_5_2020.head()

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2020,8.6,ug/m3 LC,36,Livermore
1,01/02/2020,4.5,ug/m3 LC,19,Livermore
2,01/03/2020,14.2,ug/m3 LC,55,Livermore
3,01/04/2020,10.9,ug/m3 LC,45,Livermore
4,01/05/2020,7.8,ug/m3 LC,33,Livermore

In [41]:
#Filter for SF
#PM2_5_2020 = PM2_5_2020[(PM2_5_2020.Site_Name == "Oakland West") | (PM2_5_2020.Site_Name == "San Francisco")]
PM2_5_2020 = PM2_5_2020[(PM2_5_2020.Site_Name == "San Francisco")]
PM2_5_2020.head(10)

,Date,Daily_Mean_PM2.5_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
3373,01/01/2020,8.9,ug/m3 LC,37,San Francisco
3374,01/02/2020,9.1,ug/m3 LC,38,San Francisco
3375,01/03/2020,16.3,ug/m3 LC,60,San Francisco
3376,01/04/2020,6.9,ug/m3 LC,29,San Francisco
3377,01/05/2020,5.1,ug/m3 LC,21,San Francisco
3378,01/06/2020,7.2,ug/m3 LC,30,San Francisco
3379,01/07/2020,6.7,ug/m3 LC,28,San Francisco
3380,01/08/2020,5.2,ug/m3 LC,22,San Francisco
3381,01/09/2020,4.8,ug/m3 LC,20,San Francisco
3382,01/10/2020,7.6,ug/m3 LC,32,San Francisco

In [42]:
#Check count for SF// LEAP YEAR
PM2_5_2020.count()

Date                              366
Daily_Mean_PM2.5_Concentration    366
UNITS                             366
DAILY_AQI_VALUE                   366
Site_Name                         366
dtype: int64

In [43]:
#To CSV
PM2_5_2020.to_csv(r'2020_pm2_5.csv', header= True, index=False)

In [44]:
##Load CSV for SO2
#file_to_load = ("SF 2020 SO2.csv")
#SO2_2020 =pd.read_csv(file_to_load)
#SO2_2020.head()

In [45]:
#Check Columns
#SO2_2020.columns

In [46]:
#Check Null Values
#SO2_2020.columns.isnull()

In [47]:
#Drop Columns
#SO2_2020 = SO2_2020.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [48]:
#Check DataFrame
#SO2_2020.head()

In [49]:
#Rename Site Name Column
#SO2_2020 = SO2_2020.rename(columns={"Site Name": "Site_Name"})
#SO2_2020.head()

In [50]:
#Rename Site Name & Daily Concentration Columns
#SO2_2020 = SO2_2020.rename(columns={"Site Name": "Site_Name"})
#SO2_2020 = SO2_2020.rename(columns={"Daily Max 1-hour SO2 Concentration": "Daily_Max_1-hour_SO2_Concentration"})
#SO2_2020.head()

In [51]:
#Check Count for SF & Oakland
#SO2_2020.count()

In [52]:
#To CSV
#SO2_2020.to_csv(r'SO2_2020_clean.csv', header= True, index=False)

In [53]:
##Load CSV for PM10
file_to_load = ("SF 2020 PM10.csv")
PM10_2020 =pd.read_csv(file_to_load)
PM10_2020.head()

,Date,Source,Site ID,POC,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/04/2020,AQS,60130002,1,10,ug/m3 SC,9,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
1,01/16/2020,AQS,60130002,1,3,ug/m3 SC,3,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
2,01/28/2020,AQS,60130002,1,9,ug/m3 SC,8,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
3,02/09/2020,AQS,60130002,1,7,ug/m3 SC,6,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154
4,02/21/2020,AQS,60130002,1,17,ug/m3 SC,16,Concord,1,100.0,81102,PM10 Total 0-10um STP,41860,"San Francisco-Oakland-Hayward, CA",6,California,13,Contra Costa,37.936013,-122.026154

In [54]:
#Check Columns
PM10_2020.columns

Index(['Date', 'Source', 'Site ID', 'POC', 'Daily Mean PM10 Concentration',
       'UNITS', 'DAILY_AQI_VALUE', 'Site Name', 'DAILY_OBS_COUNT',
       'PERCENT_COMPLETE', 'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC',
       'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE', 'COUNTY_CODE',
       'COUNTY', 'SITE_LATITUDE', 'SITE_LONGITUDE'],
      dtype='object')

In [55]:
#Check Null Values
PM10_2020.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False])

In [56]:
#Drop Columns
PM10_2020 = PM10_2020.drop(columns=['Source','Site ID','POC','AQS_PARAMETER_CODE','DAILY_OBS_COUNT','PERCENT_COMPLETE','AQS_PARAMETER_DESC', 'CBSA_CODE','CBSA_NAME','STATE_CODE','STATE','COUNTY_CODE', 'SITE_LATITUDE', 'SITE_LONGITUDE','COUNTY'], axis=1)

In [57]:
#Check DataFrame 
PM10_2020.head()

,Date,Daily Mean PM10 Concentration,UNITS,DAILY_AQI_VALUE,Site Name
0,01/04/2020,10,ug/m3 SC,9,Concord
1,01/16/2020,3,ug/m3 SC,3,Concord
2,01/28/2020,9,ug/m3 SC,8,Concord
3,02/09/2020,7,ug/m3 SC,6,Concord
4,02/21/2020,17,ug/m3 SC,16,Concord

In [58]:
#Rename Site Name & Concentration Columns
PM10_2020 = PM10_2020.rename(columns={"Site Name": "Site_Name"})
PM10_2020 = PM10_2020.rename(columns={"Daily Mean PM10 Concentration": "Daily_Mean_PM10_Concentration"})
PM10_2020.head()

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/04/2020,10,ug/m3 SC,9,Concord
1,01/16/2020,3,ug/m3 SC,3,Concord
2,01/28/2020,9,ug/m3 SC,8,Concord
3,02/09/2020,7,ug/m3 SC,6,Concord
4,02/21/2020,17,ug/m3 SC,16,Concord

In [59]:
#Filter for SF
#PM10_2020 = PM10_2020[(PM10_2020.Site_Name == "Oakland West") | (PM10_2020.Site_Name == "San Francisco")]
PM10_2020 = PM10_2020[(PM10_2020.Site_Name == "San Francisco")]
PM10_2020.head(10)

,Date,Daily_Mean_PM10_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
213,01/04/2020,14,ug/m3 SC,13,San Francisco
214,01/16/2020,9,ug/m3 SC,8,San Francisco
215,01/28/2020,20,ug/m3 SC,19,San Francisco
216,02/09/2020,17,ug/m3 SC,16,San Francisco
217,02/21/2020,29,ug/m3 SC,27,San Francisco
218,03/04/2020,30,ug/m3 SC,28,San Francisco
219,03/16/2020,4,ug/m3 SC,4,San Francisco
220,03/28/2020,15,ug/m3 SC,14,San Francisco
221,04/09/2020,8,ug/m3 SC,7,San Francisco
222,04/21/2020,22,ug/m3 SC,20,San Francisco

In [60]:
#Check Count SF// LEAP YEAR
PM10_2020.count()

Date                             31
Daily_Mean_PM10_Concentration    31
UNITS                            31
DAILY_AQI_VALUE                  31
Site_Name                        31
dtype: int64

In [61]:
#To CSV
PM10_2020.to_csv(r'2020_pm10.csv', header= True, index=False)