In [4]:
#Importing packages
import pandas as pd
import os
import numpy as np
import glob

In [5]:
#path = "/home/user/data/"
path = "/Users/selenajdeleon/Desktop/Analysis_Projects/Final_Project/ML---Final-Project---Pollution-Future-Impact-Analysis-/clean_data"

#Selecting all OZ CSV files
all_files = glob.glob(os.path.join(path, "20**_oz.csv"))

#Sorting files by 'Date' column (asc)
all_files.sort()

#Merging 2015-2020 OZ files
df_from_each_file = [pd.read_csv(f, sep=',') for f in all_files]
df_from_each_file
df_merged   = pd.concat(df_from_each_file)

#Creating CSV file for merged OZ files (2015-2020)
df_merged.to_csv("oz.csv", header = True, index = False)

In [6]:
df_merged.head()

,Date,Daily_Max_8-hr_Ozone_Concentration,UNITS,DAILY_AQI_VALUE,Site_Name
0,01/01/2015,0.028,ppm,26,San Francisco
1,01/02/2015,0.022,ppm,20,San Francisco
2,01/03/2015,0.018,ppm,17,San Francisco
3,01/04/2015,0.020,ppm,19,San Francisco
4,01/05/2015,0.013,ppm,12,San Francisco

In [7]:
#Renaming DAILY_AQI_VALUE column to include name of pollutant for ML model
df_merged = df_merged.rename(columns={"DAILY_AQI_VALUE": "AQI_O3"})
df_merged.head()

         Date  Daily_Max_8-hr_Ozone_Concentration UNITS  AQI_O3      Site_Name
0  01/01/2015                               0.028   ppm      26  San Francisco
1  01/02/2015                               0.022   ppm      20  San Francisco
2  01/03/2015                               0.018   ppm      17  San Francisco
3  01/04/2015                               0.020   ppm      19  San Francisco
4  01/05/2015                               0.013   ppm      12  San Francisco

In [8]:
#Creating o3.csv to reflect changes for ML model; (delete oz.csv)
df_merged.to_csv("o3.csv", header = True, index = False)